@import 'tailwindcss';

@layer base {
	:root {
		--primary: #333333;
		--secondary: #ffffff;
		--sunshine-gold: #f4c542;
		--sky-blue: #a7d8f0;
	}

	body {
		color: #333333;
	}

	@theme {
		--color-primary: var(--primary);
		--color-secondary: var(--secondary);
		--color-sunshine-gold: var(--sunshine-gold);
		--color-sky-blue: var(--sky-blue);
	}
}

@layer components {
	.bar {
		width: 100%;
		height: 20%;
		background: var(--primary);
		border-radius: 5px;
		transition: all 0.2s linear;
	}

	.active-first {
		transform: translateY(150%) rotate(45deg);
	}

	.active-middle {
		opacity: 0;
		transform: translateX(200%);
	}

	.active-last {
		transform: translateY(-150%) rotate(-45deg);
	}

	.background-main {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c247 C 57.6%2c223.8 172.8%2c137.4 288%2c131 C 403.2%2c124.6 460.8%2c215.2 576%2c215 C 691.2%2c214.8 748.8%2c135.6 864%2c130 C 979.2%2c124.4 1036.8%2c210 1152%2c187 C 1267.2%2c164 1382.4%2c49.4 1440%2c15L1440 560L0 560z' fill='rgba(213%2c 235%2c 245%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c381 C 96%2c405.2 288%2c520.2 480%2c502 C 672%2c483.8 768%2c305.4 960%2c290 C 1152%2c274.6 1344%2c398 1440%2c425L1440 560L0 560z' fill='rgba(167%2c 216%2c 240%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
